.before::before {
    content: "";
    background: url(images/favicon.ico) center center no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
}

.after::after {
    content: url(images/favicon.ico)
}	     
